<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gosun.shop.gosunactiviti.mapper.UserRoleRelationMapper">
  <resultMap id="BaseResultMap" type="com.gosun.shop.gosunactiviti.domain.UserRoleRelation">
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
  </resultMap>
  <insert id="insert" parameterType="com.gosun.shop.gosunactiviti.domain.UserRoleRelation">
    insert into le_user_role_relation (user_id, role_id)
    values (#{userId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.gosun.shop.gosunactiviti.domain.UserRoleRelation">
    insert into le_user_role_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <!-- 查询角色用户关联关系表，获取所有关联关系 -->
  <select id="getUserRoleRelationList" resultMap="BaseResultMap">
    select * from le_user_role_relation
  </select>
</mapper>